includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 9
    paths:
        - Check/
        - Cli/
        - Config/
        - Doctrine/
        - Dto/
        - Exception/
        - Php/
